name: CI/CD Docker Logger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build --platform linux/amd64 -t mylogger .

      - name: Tag Docker image
        run: |
          docker tag mylogger:latest 838838622972.dkr.ecr.eu-north-1.amazonaws.com/mylogger:latest

      - name: Push Docker image to ECR
        run: |
          docker push 838838622972.dkr.ecr.eu-north-1.amazonaws.com/mylogger:latest
